<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .abc {
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: #37517E;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
  .welcome-text {
    text-align: center;
  }

  .nav-buttons{
    text-decoration: none;
    margin: auto;
    margin-left: 0;
    margin-right: 7%;
    color: white;
  }
  </style>
</head>

<body>
  <nav>
    <div style="display: flex; justify-content: flex-end; height: 80px;background-color: #334b75; opacity: 0.9;">
      <div style="width: 50%; display: flex; justify-content: flex-start;">
        <h1 style="margin: auto;margin-left: 10px;color: white;">!DEVELOPERS</h1>
      </div>
      <div style="width: 50%;display: flex; justify-content: flex-end;">
        <a class="nav-buttons" href="index.html">Home</a>
        <a class="nav-buttons" href="index.html">About</a>
        <a class="nav-buttons" href="index.html">Contact</a>
      </div>
    </div>
  </nav>
  
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div style="display: flex;">
      <div class="welcome-text">
        <h1 style="font-size: 60px; color: #37517E;" > WELCOME BACK!!!</h1>
        <p style="font-size: 25px;"> Start your journey with !Developers <br>Here, we provide an
          abundance of video resources specifically designed to help you master <br>the intricate world of banking concepts.
          These videos are crafted to simplify complex financial topics, making learning both accessible and engaging.
          What sets us apart is our commitment to ensuring your understanding. Alongside our video content, we offer
          quizzes and assessments that allow you to evaluate your comprehension, test your knowledge, and monitor your
          progress. Whether you're a novice seeking to establish a strong financial foundation or a seasoned
          professional aiming to deepen your expertise, our platform is your ultimate learning companion. Embark on your
          journey to financial literacy with us today!</p>
      </div>
    </div>
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/why-us.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>BUDGETING</strong></h3>
            <p>Building financial literacy begins with cultivating healthy spending habits, and a fundamental step in
              this process is mastering the art of budgeting. By delineating your monthly expenses within a budget, you
              gain a powerful tool to monitor and control your expenditures. Budgeting not only prevents excessive
              spending on nonessentials but also opens up more financial space for essentials and savings. Various
              budgeting methods are available to suit different preferences and circumstances, such as the 50-30-20
              method, which allocates 50% of your income to needs, 30% to wants, and 20% to savings; the zero-based
              method, where your expenses and savings should equal your income, leaving no money unallocated; and the
              envelope method, which divides your income into categories with designated amounts for each, either
              physically or digitally.</p>
            <h3><strong>बजटिंग</strong></h3>
            <p>वित्तीय साक्षरता बढ़ाने का पहला महत्वपूर्ण कदम स्वस्थ व्यय आदतों को सीखना है, और इस प्रक्रिया में एक
              महत्वपूर्ण कदम बजट तैयार करना है। एक बजट में आपके मासिक खर्चों को पहचानकर, आप अपने व्यय को ट्रैक करने के
              लिए एक शक्तिशाली उपकरण प्राप्त करते हैं। बजट तैयार करने से केवल गैर-आवश्यक वस्त्रों पर अधिक खर्च नहीं करने
              की सुनिश्चित होती है, बल्कि आवश्यक वस्त्रों और बचत के लिए और वित्तीय जगह खुलती है। विभिन्न बजट बनाने के
              तरीके मौजूद हैं जो विभिन्न पसंदों और परिस्थितियों को ध्यान में रखकर चुन सकते हैं, जैसे 50-30-20 विधि,
              जिसमें आपकी गृहीत आय का 50% आवश्यकताओं के लिए, 30% इच्छाओं के लिए और 20% बचत के लिए सेट करने का है;
              जीरो-आधारित विधि, जिसमें मासिक खर्च और बचत को आपकी आय से कम कर देना चाहिए, ताकि प्रत्येक डॉलर उद्देश्य से
              प्रयुक्त हो; और लिफाफा विधि, जिसमें आप आपकी आय को विभिन्न श्रेणियों में बाँटकर प्रत्येक श्रेणी के लिए
              निर्धारित राशि को शारीरिक या डिजिटल लिफाफों में डालते हैं।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://www.youtube.com/watch?v=INnPo0QPXf4" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href=" https://youtu.be/j4nw4PCAgeY?si=YzDwvMpGfVof9YTu" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>IMPROVING CREDITS</strong></h3>
            <p>Your credit scores wield significant influence over various aspects of your financial life, impacting
              your capacity to purchase a home, lease a vehicle, or secure a credit card. Hence, comprehending the
              importance of your credit score and where it currently stands, along with the steps to enhance it, becomes
              crucial. To foster a robust credit history and achieve a favorable credit score, it's prudent to limit
              credit applications to necessities, grasp the implications of closing credit accounts on your credit
              history's duration, maintain a credit utilization ratio of 30% or lower in alignment with the Consumer
              Financial Protection Bureau's guidance, routinely scrutinize your credit reports for inaccuracies, and
              monitor credit score fluctuations. Additionally, managing your debt-to-income (DTI) ratio within the
              preferred range of 28% to 36% is advisable. By bolstering your creditworthiness, you enhance your
              prospects of securing advantageous terms and lower interest rates on credit cards and loans.</p>
            <h3><strong>क्रेडिट सुधार</strong></h3>
            <p>आपके क्रेडिट स्कोर आपके वित्तीय जीवन के कई क्षेत्रों को प्रभावित करते हैं। आपके क्रेडिट स्कोर के अनुसार
              घर खरीदने, कार किराए पर लेने और क्रेडिट कार्ड के लिए आवेदन करने की क्षमता जैसे महत्वपूर्ण निर्णय पर असर
              डालता है। इसलिए अपने क्रेडिट की स्थिति को जानना और अपने स्कोर को सुधारने के कदमों को जानना इतना महत्वपूर्ण
              हो सकता है। एक स्वस्थ क्रेडिट इतिहास और एक अच्छा क्रेडिट स्कोर बनाने के रूप में, यह सहायक हो सकता है:

              1. केवल उन क्रेडिट के लिए आवेदन करें जिन्हें आपकी आवश्यकता है।
              2. समझें कि क्रेडिट कार्ड को बंद करने का आपके क्रेडिट इतिहास की लम्बाई पर कैसा असर हो सकता है।
              3. अपने क्रेडिट उपयोग अनुपात को 30% या उससे कम रखें, जैसा कि उपभोक्ता वित्तीय सुरक्षा ब्यूरो (CFPB) द्वारा
              सुझाया गया है।
              4. नियमित आधार पर अपने क्रेडिट रिपोर्ट्स में गलतियों की निगरानी करें, और बदलाव के लिए अपने क्रेडिट स्कोर्स
              पर नजर रखें।
              5. अपने ऋण-आय (DTI) अनुपात का ध्यान रखें। आमतौर पर, ऋणदाताओं को 28% से 36% के बीच का डीटीआई रेशा देखना
              अच्छा लगता है।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/f2ortkJfTKw?si=ElajGuOc2Q2lXCuB" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href="https://youtu.be/qQSDX7X007M?si=6de-iyNSnGWOwLfD" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/credit.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/saving.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>SAVING</strong></h3>
            <p>Learning the art of saving is yet another crucial facet of financial literacy. Saving is a multifaceted
              endeavor, encompassing various methods such as conventional savings accounts, retirement funds,
              diversified investment portfolios, and the establishment of emergency funds. To embark on this journey
              effectively, it's prudent to set well-defined savings objectives, providing you with a precise target for
              your financial reserves. Balancing the responsibilities of managing bills and covering day-to-day expenses
              can make saving appear challenging, especially when dealing with existing debt. Nonetheless, it's
              essential to recognize that there are strategies that allow you to save money while simultaneously working
              towards debt reduction.</p>
            <h3><strong> बचत</strong></h3>
            <p>वित्तीय साक्षरता का एक और महत्वपूर्ण पहलू है बचत की कला सीखना। बचत कई तरीकों से की जा सकती है, जैसे
              पारंपरिक बचत खाते, रिटायरमेंट बचत फंड, निवेश पोर्टफोलियो और आपातकालीन निधियां शामिल हैं। यह उपयोगी हो सकता
              है कि आप अपने बचत के लक्ष्यों को स्पष्ट रूप से परिभाषित करें, ताकि आपको सटीक रूप से पता हो कितनी राशि को
              अलग करनी होगी। बिल और अन्य खर्चों का प्रबंधन करते समय साथ ही बचत करने का प्रयास करना कठिन लग सकता है।
              लेकिन ऋण का भुगतान करते समय पैसे बचाने के तरीके होते हैं।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/qbX7fS2BBgc?si=BqQ2RdKbxUE0OEDs" class="abc" style="margin-right: 10px;">Video Tutorial</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
      </div>

      <br><br><br>
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>BORROWING AND REPAYING DEBT</strong></h3>
            <p>At some juncture in life, it's highly probable that you'll find the need to borrow money and assume a
              certain level of debt to fulfill personal or financial aspirations, such as pursuing higher education or
              making essential home renovations. Among the various forms of debt, credit cards stand out as a
              significant option. They extend their utility beyond everyday expenditures, as they can also serve as a
              means to bolster your creditworthiness when used responsibly. Responsible usage entails timely payment of
              your monthly statement balance and keeping a vigilant eye on your credit utilization. Understanding the
              ramifications of incurring debt on your financial well-being and formulating a concrete strategy for debt
              management and punctual repayment play pivotal roles in achieving financial literacy.</p>
            <h3><strong>ऋण लेना और चुकाना</strong></h3>
            <p>जीवन के किसी समय पर, आपको संभावना है कि आपको किसी व्यक्तिगत या वित्तीय लक्ष्य या आवश्यकता को पूरा करने के
              लिए पैसे उधार लेने और कर्ज लेने की आवश्यकता होगी, जैसे कि कॉलेज जाने या अपने घर की मरम्मत करवाने की।
              क्रेडिट कार्ड एक प्रकार का कर्ज होता है और जिम्मेदार उपयोग के साथ, आप इसका उपयोग क्रेडिट बनाने के लिए कर
              सकते हैं। इसके लिए समय पर मासिक बैलेंस का भुगतान करना और अपने क्रेडिट उपयोग की निगरानी करना महत्वपूर्ण है।
              फिनैंशियल लिटरेसी प्राप्त करने में देब्त लेने के प्रभाव को समझना और उस कर्ज को संवित्तिक रूप से और समय पर
              चुकाने के लिए एक स्पष्ट योजना बनाना महत्वपूर्ण है।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/62Tf35ne4jI?si=PBKK_MlbEfH5gMEy" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href="https://youtu.be/qNSMuhhcIc8?si=Rx04Ejn5HpohAIBo" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/debt.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/invest.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>INVESTING</strong></h3>
            <p>After establishing a solid foundation in budgeting, credit management, savings, and debt, it's prudent to
              expand your financial knowledge by exploring additional avenues for wealth accumulation and retirement
              planning. Delving into the world of investments, which includes stocks, bonds, mutual funds, and various
              other opportunities, can be a valuable next step. However, it's crucial to bear in mind that investing
              inherently carries risks, with varying levels of risk and return depending on the specific investment
              vehicle. Therefore, as you embark on this journey, it's essential to educate yourself thoroughly, seek
              professional advice when necessary, and carefully assess your risk tolerance and financial goals to make
              informed investment decisions aligned with your long-term financial objectives.</p>
            <h3><strong>निवेश</strong></h3>
            <p>जब आपने बजट, क्रेडिट प्रबंधन, बचत, और कर्ज पर मजबूत नियंत्रण जमा कर लिया है, तो समझदारी होती है कि आप धन
              बढ़ाने और रिटायरमेंट के लिए बचत के अतिरिक्त तरीकों की शिक्षा प्राप्त करने की शुरुआत करें। स्टॉक्स,
              बॉन्ड्स, म्यूचुअल फंड्स और अन्य प्रकार के निवेश अवसरों के बारे में सीखना एक अच्छी शुरुआत हो सकती है। लेकिन
              याद रखना महत्वपूर्ण है कि निवेश में जोखिम शामिल होता है। और निवेश पर निर्भर करता है कि निवेश के आधार पर
              भिन्न-भिन्न स्तर की जोखिम और लाभ होता है। इसलिए, जब आप इस सफर पर निकलते हैं, तो खुद को पूरी तरह से शिक्षित
              करना, आवश्यकता होने पर पेशेवर सलाह लेना, और अपने निवेश के आपके दीर्घकालिक वित्तीय उद्देश्यों के साथ मेल
              खाकर निवेश के निर्णयों को सुनिश्चित रूप से और सुचना से लिहाज़ करना महत्वपूर्ण है।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/O6affOebZ6Y?si=GB9zFW40TXGpCPaG" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href="https://youtu.be/GE-o-GSxbO4?si=O8sjN6N9iyj1KdmK" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>