<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .abc {
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: #37517E;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
  .welcome-text {
    text-align: center;
  }

  .nav-buttons{
    text-decoration: none;
    margin: auto;
    margin-left: 0;
    margin-right: 7%;
    color: white;
  }
  </style>
</head>

<body>
  <nav>
    <div style="display: flex; justify-content: flex-end; height: 80px;background-color: #334b75; opacity: 0.9;">
      <div style="width: 50%; display: flex; justify-content: flex-start;">
        <h1 style="margin: auto;margin-left: 10px;color: white;">!DEVELOPERS</h1>
      </div>
      <div style="width: 50%;display: flex; justify-content: flex-end;">
        <a class="nav-buttons" href="index.html">Home</a>
        <a class="nav-buttons" href="index.html">About</a>
        <a class="nav-buttons" href="index.html">Contact</a>
      </div>
    </div>
  </nav>
  
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>STORY TIME!</strong></h3>
            <p style="font-size: 1.5rem;">Once there was a squirrel named Sammy who loved collecting acorns but struggled to save for the winter. With the help of a wise owl, Sammy learned that budgeting is like planning for a cozy nest. He started saving and allocating his acorns wisely, ensuring he had enough for food, shelter, and emergencies. When winter came, Sammy was warm, cozy, and worry-free, thanks to his budgeting skills. The story teaches us the importance of planning and allocating resources to achieve our goals.</p>
          </div>
        </div>
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/squirrel.webp");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/why-us.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>BUDGETING</strong></h3>
            <p style="font-size: 1rem;">Building financial literacy begins with cultivating healthy spending habits, and a fundamental step in
              this process is mastering the art of budgeting. By delineating your monthly expenses within a budget, you
              gain a powerful tool to monitor and control your expenditures. Budgeting not only prevents excessive
              spending on nonessentials but also opens up more financial space for essentials and savings. Various
              budgeting methods are available to suit different preferences and circumstances, such as the 50-30-20
              method, which allocates 50% of your income to needs, 30% to wants, and 20% to savings; the zero-based
              method, where your expenses and savings should equal your income, leaving no money unallocated; and the
              envelope method, which divides your income into categories with designated amounts for each, either
              physically or digitally.</p>
            <h3><strong>बजटिंग</strong></h3>
            <p style="font-size: 1rem;">वित्तीय साक्षरता बढ़ाने का पहला महत्वपूर्ण कदम स्वस्थ व्यय आदतों को सीखना है, और इस प्रक्रिया में एक
              महत्वपूर्ण कदम बजट तैयार करना है। एक बजट में आपके मासिक खर्चों को पहचानकर, आप अपने व्यय को ट्रैक करने के
              लिए एक शक्तिशाली उपकरण प्राप्त करते हैं। बजट तैयार करने से केवल गैर-आवश्यक वस्त्रों पर अधिक खर्च नहीं करने
              की सुनिश्चित होती है, बल्कि आवश्यक वस्त्रों और बचत के लिए और वित्तीय जगह खुलती है। विभिन्न बजट बनाने के
              तरीके मौजूद हैं जो विभिन्न पसंदों और परिस्थितियों को ध्यान में रखकर चुन सकते हैं, जैसे 50-30-20 विधि,
              जिसमें आपकी गृहीत आय का 50% आवश्यकताओं के लिए, 30% इच्छाओं के लिए और 20% बचत के लिए सेट करने का है;
              जीरो-आधारित विधि, जिसमें मासिक खर्च और बचत को आपकी आय से कम कर देना चाहिए, ताकि प्रत्येक डॉलर उद्देश्य से
              प्रयुक्त हो; और लिफाफा विधि, जिसमें आप आपकी आय को विभिन्न श्रेणियों में बाँटकर प्रत्येक श्रेणी के लिए
              निर्धारित राशि को शारीरिक या डिजिटल लिफाफों में डालते हैं।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://www.youtube.com/watch?v=INnPo0QPXf4" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href=" https://youtu.be/j4nw4PCAgeY?si=YzDwvMpGfVof9YTu" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="/quiz1" class="abc">Test Yourself</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

  </section>


  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>