<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Select an Option:</h1>
    <form action="/leaderboard" method="post">
        <label for="options">Select an option:</label>
        <select id="options" name="selectedOption">
            <option value="Budgeting">Budgeting</option>
            <option value="Improving Credit">Improving Credit</option>
            <option value="Saving">Saving</option>
            <option value="Borrowing and repaying debt">Borrowing and repaying debt</option>
            <option value="Investing">Investing</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
