<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .abc {
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: #37517E;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
  .welcome-text {
    text-align: center;
  }

  .nav-buttons{
    text-decoration: none;
    margin: auto;
    margin-left: 0;
    margin-right: 7%;
    color: white;
  }
  .hiddenB{
    height: 20%;
    width: 15%;
    transition: 0.3s;
  }
  .hiddenB:hover{
    background-color: #263a5d;
  }
  </style>
</head>

<body>
  <nav>
    <div style="display: flex; justify-content: flex-end; height: 80px;background-color: #334b75; opacity: 0.9;">
      <div style="width: 50%; display: flex; justify-content: flex-start;">
        <h1 style="margin: auto;margin-left: 10px;color: white;">!DEVELOPERS</h1>
      </div>
      <div style="width: 50%;display: flex; justify-content: flex-end;">
        <a class="nav-buttons" href="/index">Home</a>
        <a class="nav-buttons" href="/about">About</a>
        <a class="nav-buttons" href="/index">Contact</a>
      </div>
    </div>
  </nav>
  
  <br><br><br>
  <div style="text-align: center;">
    <button class="abc hiddenB"><a href="/leaderboard2" style="text-decoration: none; color: inherit;">Leaderboard</a></button>
    <button class="abc hiddenB"><a href="/index" style="text-decoration: none; color: inherit;">Home</a></button>
  </div>
  <br><br><br>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">   
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>STORY TIME!</strong></h3>
            <p style="font-size: 1.5rem;">In the city of Creditville, Lily learned from her wise neighbor, Mr. Johnson, that a good credit score was crucial for her financial goals. She followed his advice, paid bills on time, managed credit card debt wisely, and monitored her credit report. Over time, her credit score improved, allowing her to buy her dream home with favorable loan terms, showing that responsible financial habits can lead to success.</p>
          </div>
        </div>
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/lily.jpg");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/credit.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>IMPROVING CREDITS</strong></h3>
            <p style="font-size: 1rem;">Your credit scores wield significant influence over various aspects of your financial life, impacting
                your capacity to purchase a home, lease a vehicle, or secure a credit card. Hence, comprehending the
                importance of your credit score and where it currently stands, along with the steps to enhance it, becomes
                crucial. To foster a robust credit history and achieve a favorable credit score, it's prudent to limit
                credit applications to necessities, grasp the implications of closing credit accounts on your credit
                history's duration, maintain a credit utilization ratio of 30% or lower in alignment with the Consumer
                Financial Protection Bureau's guidance, routinely scrutinize your credit reports for inaccuracies, and
                monitor credit score fluctuations. Additionally, managing your debt-to-income (DTI) ratio within the
                preferred range of 28% to 36% is advisable. By bolstering your creditworthiness, you enhance your
                prospects of securing advantageous terms and lower interest rates on credit cards and loans.</p>
            <h3><strong>क्रेडिट सुधार</strong></h3>
            <p style="font-size: 1rem;">आपके क्रेडिट स्कोर आपके वित्तीय जीवन के कई क्षेत्रों को प्रभावित करते हैं। आपके क्रेडिट स्कोर के अनुसार
                घर खरीदने, कार किराए पर लेने और क्रेडिट कार्ड के लिए आवेदन करने की क्षमता जैसे महत्वपूर्ण निर्णय पर असर
                डालता है। इसलिए अपने क्रेडिट की स्थिति को जानना और अपने स्कोर को सुधारने के कदमों को जानना इतना महत्वपूर्ण
                हो सकता है। एक स्वस्थ क्रेडिट इतिहास और एक अच्छा क्रेडिट स्कोर बनाने के रूप में, यह सहायक हो सकता है:
  
                1. केवल उन क्रेडिट के लिए आवेदन करें जिन्हें आपकी आवश्यकता है।
                2. समझें कि क्रेडिट कार्ड को बंद करने का आपके क्रेडिट इतिहास की लम्बाई पर कैसा असर हो सकता है।
                3. अपने क्रेडिट उपयोग अनुपात को 30% या उससे कम रखें, जैसा कि उपभोक्ता वित्तीय सुरक्षा ब्यूरो (CFPB) द्वारा
                सुझाया गया है।
                4. नियमित आधार पर अपने क्रेडिट रिपोर्ट्स में गलतियों की निगरानी करें, और बदलाव के लिए अपने क्रेडिट स्कोर्स
                पर नजर रखें।
                5. अपने ऋण-आय (DTI) अनुपात का ध्यान रखें। आमतौर पर, ऋणदाताओं को 28% से 36% के बीच का डीटीआई रेशा देखना
                अच्छा लगता है।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/f2ortkJfTKw?si=ElajGuOc2Q2lXCuB" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href="https://youtu.be/qQSDX7X007M?si=6de-iyNSnGWOwLfD" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="/quiz2" class="abc">Test Yourself</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </section>


  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>