<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .abc {
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: #37517E;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
  .welcome-text {
    text-align: center;
  }

  .nav-buttons{
    text-decoration: none;
    margin: auto;
    margin-left: 0;
    margin-right: 7%;
    color: white;
  }
  </style>
</head>

<body>
  <nav>
    <div style="display: flex; justify-content: flex-end; height: 80px;background-color: #334b75; opacity: 0.9;">
      <div style="width: 50%; display: flex; justify-content: flex-start;">
        <h1 style="margin: auto;margin-left: 10px;color: white;">!DEVELOPERS</h1>
      </div>
      <div style="width: 50%;display: flex; justify-content: flex-end;">
        <a class="nav-buttons" href="index.html">Home</a>
        <a class="nav-buttons" href="index.html">About</a>
        <a class="nav-buttons" href="index.html">Contact</a>
      </div>
    </div>
  </nav>
  
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>STORY TIME!</strong></h3>
            <p style="font-size: 1.5rem;">In a lively village, there was a young farmer named Alex. Alex loved watching the seasons change and noticed that some seeds produced more crops than others. Curious, Alex decided to plant the seeds that yielded the most bountiful harvest.

                As seasons passed, Alex's farm flourished. The more productive seeds not only provided an abundance of crops but also produced seeds for future planting. Alex realized that choosing the right seeds was like making smart investments.
                
                The moral of the story is that, just like planting the right seeds leads to a prosperous farm, making wise investments can lead to a prosperous financial future..</p>
          </div>
        </div>
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/alex.jpg");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/invest.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>INVESTING</strong></h3>
            <p style="font-size: 1.5rem;">After establishing a solid foundation in budgeting, credit management, savings, and debt, it's prudent to
                expand your financial knowledge by exploring additional avenues for wealth accumulation and retirement
                planning. Delving into the world of investments, which includes stocks, bonds, mutual funds, and various
                other opportunities, can be a valuable next step. However, it's crucial to bear in mind that investing
                inherently carries risks, with varying levels of risk and return depending on the specific investment
                vehicle. Therefore, as you embark on this journey, it's essential to educate yourself thoroughly, seek
                professional advice when necessary, and carefully assess your risk tolerance and financial goals to make
                informed investment decisions aligned with your long-term financial objectives.</p>
            <h3><strong>निवेश</strong></h3>
            <p style="font-size: 1.5rem;">जब आपने बजट, क्रेडिट प्रबंधन, बचत, और कर्ज पर मजबूत नियंत्रण जमा कर लिया है, तो समझदारी होती है कि आप धन
                बढ़ाने और रिटायरमेंट के लिए बचत के अतिरिक्त तरीकों की शिक्षा प्राप्त करने की शुरुआत करें। स्टॉक्स,
                बॉन्ड्स, म्यूचुअल फंड्स और अन्य प्रकार के निवेश अवसरों के बारे में सीखना एक अच्छी शुरुआत हो सकती है। लेकिन
                याद रखना महत्वपूर्ण है कि निवेश में जोखिम शामिल होता है। और निवेश पर निर्भर करता है कि निवेश के आधार पर
                भिन्न-भिन्न स्तर की जोखिम और लाभ होता है। इसलिए, जब आप इस सफर पर निकलते हैं, तो खुद को पूरी तरह से शिक्षित
                करना, आवश्यकता होने पर पेशेवर सलाह लेना, और अपने निवेश के आपके दीर्घकालिक वित्तीय उद्देश्यों के साथ मेल
                खाकर निवेश के निर्णयों को सुनिश्चित रूप से और सुचना से लिहाज़ करना महत्वपूर्ण है।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/O6affOebZ6Y?si=GB9zFW40TXGpCPaG" class="abc" style="margin-right: 10px;">Video Tutorial in English</a>
            <a href="https://youtu.be/GE-o-GSxbO4?si=O8sjN6N9iyj1KdmK" class="abc" style="margin-right: 10px;">Video Tutorial in Hindi</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
      </div>
      

  </section>


  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>