<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet">

    <style>
        .abc {
            border-radius: 20px;
            border: 1px solid #fff;
            background-color: #37517E;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }

        .welcome-text {
            text-align: center;
        }

        .nav-buttons {
            text-decoration: none;
            margin: auto;
            margin-left: 0;
            margin-right: 7%;
            color: white;
        }
    </style>
</head>

<body>
    <nav>
        <div style="display: flex; justify-content: flex-end; height: 80px;background-color: #334b75; opacity: 0.9;">
            <div style="width: 50%; display: flex; justify-content: flex-start;">
                <h1 style="margin: auto;margin-left: 10px;color: white;">!DEVELOPERS</h1>
            </div>
            <div style="width: 50%;display: flex; justify-content: flex-end;">
                <a class="nav-buttons" href="/index">Home</a>
                <a class="nav-buttons" href="/about">About</a>
                <a class="nav-buttons" href="#">Contact</a>
            </div>
        </div>
    </nav>

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div style="display: flex;">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-5 align-items-stretch img"
                        style='background-image: url("assets/img/organization.png ");' data-aos="zoom-in"
                        data-aos-delay="150">&nbsp;</div>
                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
                        <div class="content">
                            <h3 style="font-size: 70px;"><strong>!DEVELOPERS</strong></h3>
                            <p style="font-size: 25px;">! Developers is your gateway to personalized guidance and
                                exciting career
                                opportunities. Our team of experts is here to assist you through one-on-one
                                conversations, absolutely free of charge. Whether you're a newcomer looking for advice
                                or seeking basic roles in our organization, we've got the support and opportunities you
                                need to thrive. Join us and embark on a journey towards a brighter future in the world
                                of technology and development, all while benefiting from employment opportunities under
                                the guidance of our seasoned experts</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <section id="team" class="team section-bg">
                    <div class="container" data-aos="fade-up">

                        <div class="section-title">
                            <h2>MEET OUR MENTORS</h2>
                            <p>
                                Our accomplished mentors are seasoned banking experts, ready to guide you through
                                employment opportunities and learning experiences. Join us at Ki! Developers and benefit
                                from their wealth of knowledge to kickstart your banking career.</p>
                        </div>

                        <div class="row">

                            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>Walter White</h4>
                                        <span>Customer Service Representative</span>
                                        <p>With a passion for helping our valued customers,
                                            he is your go-to resource for all your banking needs. From account
                                            inquiries to service requests, He is committed to
                                            providing you with prompt, knowledgeable, and personalized assistance. </p>
                                        <div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>Sarah Jhonson</h4>
                                        <span>Loan Officer</span>
                                        <p> A trusted financial partner. With years of experience, she specializes in
                                            finding
                                            the perfect loan solutions tailored to your needs. Whether it's a mortgage,
                                            personal loan, or business financing, she is here to guide you every
                                            step of the way to financial success.</p>
                                        <div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>William Anderson</h4>
                                        <span>Credit Analyst</span>
                                        <p>He is the financial expert you can trust.
                                            With a keen eye for detail and extensive experience, he excels in
                                            assessing creditworthiness, ensuring that your financial transactions are
                                            sound and secure. Whether you're seeking a loan or evaluating investment
                                            opportunities, he is here to provide you with data-driven
                                            insights and strategic advice. </p>
                                        <div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>Amanda Jepson</h4>
                                        <span>Manager</span>
                                        <p>She leads our branch with
                                            expertise and dedication. With 20 years of experience in the banking
                                            industry, she ensures the smooth operation of our branch and the
                                            satisfaction of our valued customers. She is committed to
                                            fostering a welcoming and efficient banking environment while delivering
                                            top-notch financial services.</p>
                                        <div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <section id="team" class="team section-bg">
                            <div class="container" data-aos="fade-up">

                                <div class="section-title">
                                    <h2>Explore Exciting Employment Opportunities </h2>
                                    <p>
                                        Looking to launch a rewarding career in the world of banking? Here at
                                        !Developers organization, we believe in nurturing talent and providing
                                        individuals with the tools to succeed in the financial industry. We offer a
                                        range of employment
                                        opportunities and programs designed to kickstart your career and help you grow
                                        professionally</p>
                                </div>
                                <section id="pricing" class="pricing">
                                    <div class="container" data-aos="fade-up">
                                        <div class="row">

                                            <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                                <div class="box featured">
                                                    <h3>Management Trainee Programs</h3>
                                                    <p>Estimated Salary: ₹2,00,000 to ₹2,80,000 per year
                                                    <p>
                                                    <p>
                                                        Our Management Trainee Program is an intensive learning
                                                        experience where recent graduates gain exposure to various bank
                                                        departments through rotations. You'll receive mentorship from
                                                        seasoned professionals, access tailored training. This program
                                                        equips you with the skills and
                                                        knowledge to become a future leader within !Developers
                                                        with the potential for permanent roles upon completion.
                                                    </p>
                                                    <a href="#" class="buy-btn">Apply</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                                <div class="box featured">
                                                    <h3>Customer Service Trainees</h3>
                                                    <p>Estimated Salary: ₹2,00,000 to ₹4,00,000 per year</p>
                                                    <p>Our Teller and Customer Service positions at !Developers
                                                        are perfect starting points for your banking career. As a Teller
                                                        or Customer Service Representative, you'll receive hands-on
                                                        training and guidance from experienced colleagues. You'll learn
                                                        about our bank's products, services, and customer interactions,
                                                        gaining valuable experience in the process.</p>
                                                    <a href="#" class="buy-btn">Apply</a>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                                <div class="box featured">
                                                    <h3>Credit Analyst Development Programs</h3>
                                                    <p>Estimated Salary: ₹3,00,000 to ₹6,00,000 per year</p>
                                                    <p>Our Credit Analyst Training Program is designed for individuals
                                                        with a financial background who aspire to become credit
                                                        analysts. You'll receive mentorship and comprehensive training
                                                        in financial analysis and credit assessment, preparing you to
                                                        evaluate loan applications and assess credit risk. This program
                                                        equips you with the skills to play a vital role in our bank's
                                                        lending operations.</p>
                                                    <a href="#" class="buy-btn">Apply</a>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                                <div class="box featured">
                                                    <h3>Financial Advisor Trainee Programs</h3>
                                                    <p> Estimated Salary: ₹3,00,000 to ₹6,00,000</p>
                                                    <p>Our Financial Advisor Trainee Program is tailored for individuals
                                                        with a passion for finance who aspire to become skilled
                                                        financial advisors. Participants in program are mentored by
                                                        experienced advisors, gaining hands-on experience in investment
                                                        strategies, client relationship management. You'll learn to
                                                        provide financial advice, manage client portfolios,& navigate the dynamic
                                                        world of wealth management.</p>
                                                    <a href="#" class="buy-btn">Apply</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </section>

                            </div>
                        </section>


                        <script src="assets/vendor/aos/aos.js"></script>
                        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
                        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
                        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
                        <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
                        <script src="assets/vendor/php-email-form/validate.js"></script>

                        <script src="assets/js/main.js"></script>

</body>

</html>