<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Welcome to the Quiz!</h1>

    <p>
        Rules and Regulations <br>
        1. You will have 10 questions, each consisiting of 4 options <br>
        2. You have 2 chances to give correct answer, if you submit 2 Wrong answers for the same question, you cannot answer that question again <br>
        3. The faster you give correct answer, the more points you get <br>
        4. Regardless of when you submit, if the answer is correct you will get atleast 5 points <br>
    </p>
    
    <!-- Form to start the quiz -->
    <form action="/ques">
        <input type="submit" value="Start Quiz">
    </form>
</body>
</html>
