<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .abc {
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: #37517E;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
  .welcome-text {
    text-align: center;
  }

  .nav-buttons{
    text-decoration: none;
    margin: auto;
    margin-left: 0;
    margin-right: 7%;
    color: white;
  }

  .hiddenB{
    height: 20%;
    width: 15%;
    transition: 0.3s;
  }
  .hiddenB:hover{
    background-color: #263a5d;
  }
  </style>
</head>

<body>
  <nav>
    <div style="display: flex; justify-content: flex-end; height: 80px;background-color: #334b75; opacity: 0.9;">
      <div style="width: 50%; display: flex; justify-content: flex-start;">
        <h1 style="margin: auto;margin-left: 10px;color: white;">!DEVELOPERS</h1>
      </div>
      <div style="width: 50%;display: flex; justify-content: flex-end;">
        <a class="nav-buttons" href="/index">Home</a>
        <a class="nav-buttons" href="/about">About</a>
        <a class="nav-buttons" href="/index">Contact</a>
      </div>
    </div>
  </nav>
  
  <br><br><br>
  <div style="text-align: center;">
    <button class="abc hiddenB">Previous Score</button>
    <button class="abc hiddenB" style="margin-left: 50px; margin-right: 50px;">Leaderboard</button>
    <button class="abc hiddenB"><a href="/budget" style="text-decoration: none; color: inherit;">Next</a></button>
  </div>
  <br><br><br>

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">   

    <div style="display: flex;">
      <div class="welcome-text">
        <h1 style="font-size: 60px; color: #37517E;" > WELCOME BACK!!!</h1>
        <p style="font-size: 25px;"> Start your journey with !Developers <br>Here, we provide an
          abundance of video resources specifically designed to help you master <br>the intricate world of banking concepts.
          These videos are crafted to simplify complex financial topics, making learning both accessible and engaging.
          What sets us apart is our commitment to ensuring your understanding. Alongside our video content, we offer
          quizzes and assessments that allow you to evaluate your comprehension, test your knowledge, and monitor your
          progress. Whether you're a novice seeking to establish a strong financial foundation or a seasoned
          professional aiming to deepen your expertise, our platform is your ultimate learning companion. Embark on your
          journey to financial literacy with us today!</p>
      </div>
    </div>
    <section class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>STORY TIME!</strong></h3>
            <p style="font-size: 1.5rem;">In a lively forest, there was a rabbit named Rosie who loved adventures but never had enough carrots. Rosie met wise Timothy the tortoise, who taught her about saving. Rosie started setting aside some carrots each day. When a carnival came, Rosie used her saved carrots for a delightful time without worry. The story teaches us that saving a little every day can bring joy and security for future adventures.</p>
          </div>
        </div>
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/rabbit.jpg");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-lg-5 align-items-stretch img" style='background-image: url("assets/img/saving.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content">
            <h3><strong>SAVINGS</strong></h3>
            <p style="font-size: 1rem;">Learning the art of saving is yet another crucial facet of financial literacy. Saving is a multifaceted
                endeavor, encompassing various methods such as conventional savings accounts, retirement funds,
                diversified investment portfolios, and the establishment of emergency funds. To embark on this journey
                effectively, it's prudent to set well-defined savings objectives, providing you with a precise target for
                your financial reserves. Balancing the responsibilities of managing bills and covering day-to-day expenses
                can make saving appear challenging, especially when dealing with existing debt. Nonetheless, it's
                essential to recognize that there are strategies that allow you to save money while simultaneously working
                towards debt reduction.</p>
            <h3><strong>बचत</strong></h3>
            <p style="font-size: 1rem;">वित्तीय साक्षरता का एक और महत्वपूर्ण पहलू है बचत की कला सीखना। बचत कई तरीकों से की जा सकती है, जैसे
                पारंपरिक बचत खाते, रिटायरमेंट बचत फंड, निवेश पोर्टफोलियो और आपातकालीन निधियां शामिल हैं। यह उपयोगी हो सकता
                है कि आप अपने बचत के लक्ष्यों को स्पष्ट रूप से परिभाषित करें, ताकि आपको सटीक रूप से पता हो कितनी राशि को
                अलग करनी होगी। बिल और अन्य खर्चों का प्रबंधन करते समय साथ ही बचत करने का प्रयास करना कठिन लग सकता है।
                लेकिन ऋण का भुगतान करते समय पैसे बचाने के तरीके होते हैं।</p>
          </div>
          <div style="display: flex; margin-left: 90px;">
            <a href="https://youtu.be/qbX7fS2BBgc?si=BqQ2RdKbxUE0OEDs" class="abc" style="margin-right: 10px;">Video Tutorial</a>
            <a href="" class="abc">Test Yourself</a>
          </div>
        </div>
    </div>
  </section>

  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>